@import "tailwindcss";

@theme {
  --animate-fade-out: fade-out 4s ease-in-out forwards;
  --animate-fade-in-overlay: fade-in 0.3s ease-in-out forwards;
  --animate-fade-in: fade-in 2s ease-in-out forwards;

  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.home-timeline {
  @apply pl-5 pb-2 relative [counter-increment:section] after:content-[counter(section)] after:text-white  after:w-px after:h-full after:bg-indigo-500 after:absolute after:-top-0.5 after:-left-0.5 before:bg-indigo-500 before:w-6.5 before:h-6.5 before:rounded-full before:absolute before:-top-0.5 before:-left-2.5
}

.primary-button {
  @apply text-lime-50 bg-linear-to-r from-blue-500 to-violet-500 hover:opacity-70 border border-indigo-600 rounded
}

.green-button {
  @apply text-white bg-linear-to-r from-lime-600 to-teal-600 ring ring-emerald-700 hover:opacity-70 rounded
}

.red-button {
  @apply text-white bg-linear-to-r from-red-600 to-pink-600 ring ring-pink-700 hover:opacity-70 rounded
}

.blue-button {
  @apply text-white bg-linear-to-r from-cyan-600 to-blue-600 ring ring-blue-700 hover:opacity-70 rounded
}

.page-container {
  @apply bg-violet-50 rounded-2xl md:rounded-3xl
}