<% content_for(:title, t(".title")) %>
<div class="mt-24 mb-18 md:mb-8 px-6 md:px-10 lg:px-16 py-4 md:py-8 rounded-2xl md:rounded-3xl bg-violet-50">
  <h1 class="font-bold text-4xl md:text-5xl"><%= t(".title") %></h1>
  <p class="text-indigo-400 text-lg md:text-xl mt-2"><%= t(".info") %></p>
  <div class="[counter-reset:section]">
    <h2 class="font-bold text-2xl md:text-3xl mt-4 mb-2"><%= t(".how_to_use.title") %></h2>
    <div class="home-timeline">
      <h3 class="font-bold">ユーザー登録・ログイン</h3>
      <p class="text-violet-950">初めての方はユーザー登録しよう。</p>
    </div>
    <div class="home-timeline">
      <h3 class="font-bold">カード作成</h3>
      <p class="text-violet-950">名前と意味がセットのカードを作成しよう。</p>
    </div>
    <div class="home-timeline">
      <h3 class="font-bold">デッキ作成</h3>
      <p class="text-violet-950">デッキを作成しよう。作成後は詳細ページからカードを追加しよう。</p>
    </div>
    <div class="home-timeline">
      <h3 class="font-bold">公開デッキを見る</h3>
      <p class="text-violet-950">他のユーザーが公開したデッキを公開デッキページから見よう。</p>
    </div>
    <div class="home-timeline">
      <h3 class="font-bold">出題予約</h3>
      <p class="text-violet-950">デッキ詳細ページや他ユーザーの公開デッキから出題予約しよう。</p>
    </div>
    <div class="home-timeline">
      <h3 class="font-bold">クイズを解く</h3>
      <p class="text-violet-950">クイズページから問題を解こう。出題予約したデッキ内からランダムに出題！</p>
    </div>
  </div>
</div>
