<header class="flex justify-between w-full mb-12 p-4 bg-cyan-600">
  <h1 class="text-3xl">
    <%= link_to "Flashare", root_path %>
  </h1>
  <ul class="flex items-center gap-4">
    <li>
      <%= link_to t('header.signup'), new_user_path %>
    </li>
    <li>
      <%= link_to t('header.login'), login_path %>
    </li>
  </ul>
</header>