<div class="flex flex-col border rounded w-full h-[200px] mx-auto mt-4 p-2">
  <p><%= public_deck.user.name %></p>
  <p class="font-bold"><%= public_deck.name %></p>
  <p class="mt-1"><%= public_deck.description %></p>
  <div class="mt-auto text-right">
    <%= button_to t("defaults.add"), quiz_sessions_path, { method: :post, params: { deck_id: public_deck.id }, class:"text-sky-50 bg-cyan-600 hover:opacity-70 px-4 py-0.5 border rounded" } %>
  </div>
</div>