<div class="border-2 border-blue-500 shadow-sm w-full h-42 shadow-pink-300 rounded-lg p-2">
  <p class="font-bold"><%= incorrect_answer.card.name %></p>
  <p class="mt-1"><%= incorrect_answer.card.meaning %></p>
</div>