<% content_for(:title, t(".title")) %>
<div class="text-cyan-600">
  <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
  <div>
    <% if @quiz_sessions.exists? %>
      <% @quiz_sessions.each do |quiz_session| %>
        <%= quiz_session.deck.name %>
        <%= button_to t(".start_quiz"), start_quiz_session_path(quiz_session) %>
        <%= button_to t("default.delete"), quiz_session_path(quiz_session), class: "border-b border-dashed", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
