<div class="flex flex-col border rounded w-11/24 md:w-3/12 lg:w-2/12 h-[200px] mx-auto mt-4 p-2">
  <p class="font-bold"><%= card.name %></p>
  <p class="mt-1"><%= card.meaning %></p>
  <div class="mt-auto text-right">
    <button class="border-b border-dashed"><%= t("defaults.edit") %></button>
    <span class="mx-1">|</span>
    <button class="border-b border-dashed"><%= t("defaults.delete") %></button>
  </div>
</div>