<% content_for(:title, t(".title")) %>
<div class="bg-violet-50 w-full md:w-2/3 lg:w-2/5 mx-auto mt-24 mb-8 px-8 md:px-10 py-6 rounded-4xl">
  <h1 class="font-bold text-xl md:text-2xl lg:text-3xl"><%= t(".title") %></h1>
  <%= render 'form', card: @card %>
</div>
<%= link_to t("defaults.link.to_index_card_page"), cards_path, class: "border-b-1 border-dashed" %>