<% content_for(:title, t(".title")) %>
<div class="text-cyan-600">
  <h1 class="font-bold text-4xl mt-4"><%= t(".title") %></h1>
  <div>
    <% if @cards.present? %>
      <div class="flex flex-wrap">
        <%= render @cards %>
      </div>
    <% else %>
      <%= link_to t(".no_card_message"), new_card_path, class: "border-b-1 border-dashed" %>
    <% end %>
  </div>
</div>
