<div class="flex flex-col border rounded w-full h-[200px] p-2">
  <p class="font-bold"><%= card.name %></p>
  <p class="mt-1"><%= card.meaning %></p>
  <div class="mt-auto text-right">
    <%= link_to t("defaults.delete_from_deck"), deck_deck_card_path(deck, card_id: card.id), class: "border-b border-dashed", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
  </div>
</div>