<div class="flex flex-col border rounded-lg w-full h-[200px] p-2">
  <p class="font-bold"><%= card.name %></p>
  <p class="mt-1"><%= card.meaning %></p>
  <div class="mt-auto text-right">
    <%= button_to deck_deck_card_path(deck, card_id: card.id), class: "text-red-500 hover:opacity-70 rounded px-1 md:px-2 py-0.5 md:py-1", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
      <i class="fa-solid fa-circle-minus"></i> <%= t("defaults.delete_from_deck") %>
    <% end %>
  </div>
</div>