<% content_for(:title, t(".title")) %>
<div class="mt-24 mb-8 px-6 md:px-10 lg:px-16 py-4 md:py-8 rounded-2xl md:rounded-3xl bg-violet-50">
  <h1 class="font-bold text-xl md:text-2xl lg:text-3xl"><%= t(".title") %></h1>
  <%= link_to t(".to_public_decks_page"), public_decks_path, class: "border-b-1 border-dashed" %>
  <%= link_to t(".to_create_deck_page"), new_deck_path, class: "border-b-1 border-dashed" %>
  <% if @decks.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-6">
      <% @decks.each do |deck| %>
        <%= render 'deck', deck: deck, deck_page: "index" %>
      <% end %>
    </div>
  <% end %>
</div>
